
.Grid{
    height: 80vh;
    width:80%;
    margin:auto;
    display: grid;
    grid-template-rows: repeat(3,175px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 8px;
    background-color: aquamarine;
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 50px;
    background-color:rgb(252, 240, 240)
}


